.login{
    width: 100%;
    height: 60vh;
    margin-top: 5%;
    clip-path: polygon(0 0, 100% 5%, 100% 100%, 0 93%);
    background-image: url("../images/reykjavik-iceland-2048-1536.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
}

.login-inputs{
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    background-color: white;
    width: 50%;
    height: 60vh;
    margin: auto;
    text-align: center;
}

.login-inputs h1{
    font-family: "Kanit", sans-serif;
    width: 7%;
    height: 3rem;
    margin: auto;
    font-size: 1.5rem;
    color: #02529C;
    margin-bottom: 1%;
    padding-top: 2%;
}
.login-inputs hr{
    margin: auto;
    width: 8%;
    border: 0;
    border-top: 2px solid #ff0000;
}
.username{
    font-family: "Kanit", sans-serif;
    margin-top: 15%;
    width: 100%;
    height: 10vh;
    text-align: center;
}
.username input{
    font-family: "Kanit", sans-serif;
    width: 20%;
    height: 3vh;
    margin: auto;
    background-color: aliceblue;
    border-radius: 0.5rem;
    font-weight: bold;
    border: 2px solid #02529C;
    color: #02529C;
    cursor: pointer;
}
.username span{
    font-size: 1.5rem;
    color: #02529C;
}


.password{
    font-family: "Kanit", sans-serif;
    width: 100%;
    height: 10vh;
    text-align: center;
}
.password input{
    font-family: "Kanit", sans-serif;
    width: 20%;
    height: 3vh;
    margin: auto;
    background-color: aliceblue;
    border-radius: 0.5rem;
    font-weight: bold;
    border: 2px solid #02529C;
    color: #02529C;
    cursor: pointer;
}
.password span{
    font-size: 1.5rem;
    color: #02529C;
}
.login-inputs button{
    font-family: "Kanit", sans-serif;
    font-size: 1.3rem;
    width: 20%;
    height: 4vh;
    background-color: aliceblue;
    border: 2px solid #02529C;
    color: #02529C;
    border-radius: 0.5rem;
    cursor: pointer;
}
@media (min-width:1024px)and (max-width:1600px){
    .login-inputs h1{
        font-size: 1.3rem;
        margin-bottom: 0%;
    }
    .login-inputs button{
        font-size: 1.1rem;
    }

}

@media (max-width:768px){
    .login-inputs h1{
        font-family: "Kanit", sans-serif;
        width: 7%;
        height: 3rem;
        margin: auto;
        font-size: 1rem;
        color: #02529C;
        margin-bottom: 1%;
        padding-top: 20%;
    }
    .login-inputs hr{
        border-top: none;
    }
    .username input{
        width: 30%;
    }
    .username span{
        font-size: 1rem;
    }
    .password input{
        width: 30%;
    }
    .password span{
        font-size: 1rem;
    }
    .login-inputs button{
        font-size: 1rem;
    }
}

@media (max-width:430px){
    .login{
        margin-bottom: 10%;
    }
    .login-inputs{
        box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
        background-color: white;
        width: 80%;
        height: 60vh;
        margin: auto;
        text-align: center;
    }
    .login-inputs h1{
        font-family: "Kanit", sans-serif;
        width: 7%;
        height: 3rem;
        margin: auto;
        font-size: 1rem;
        color: #02529C;
        margin-bottom: 10%;
        padding-top: 20%;
    }
    .login-inputs hr{
        border-top: none;
    }
    .username input{
        width: 30%;
    }
    .username span{
        font-size: 1rem;
    }
    .password input{
        width: 30%;
    }
    .password span{
        font-size: 1rem;
    }
    .login-inputs button{
        width: 40%;
        font-size: 1rem;
    }
}