.login{
    width: 100%;
    height: 60vh;
    background-color: aqua;
    margin-top: 5%;
    clip-path: polygon(0 0, 100% 5%, 100% 100%, 0 93%);
}

.login-inputs{
    background-color: yellow;
    width: 50%;
    height: 100%;
    margin: auto;
}

.login-inputs h1{
    font-family: "Kanit", sans-serif;
    width: 15%;
    height: 3rem;
    margin: auto;
    color: #02529C;
    margin-bottom: 10%;
    padding-top: 2%;
}