.membership-introduction{
    width: 100%;
    height: 70vh;
    margin-top: 2%;
    display: flex;
}

.membership-introduction-text{
    width: 60%;
    height:70vh;
    background-color: aqua;
    clip-path: polygon(0 0, 80% 0%, 100% 100%, 0% 100%);
    padding: 1%;
    padding-left: 12%;
    background-image: url("../images/rent-car-hd.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
}
.membership-introduction-text h1{
    font-size: 1.8rem;
    width: 65%;
    margin: 2% 0 2% 0;
    font-weight: 500;
    font-family: "Lexend", sans-serif;
    color:#02529C;  
}
.membership-introduction-text h2{
    font-size: 1.5rem;
    width: 80%;
    margin: 10% 0 1% 0;
    font-weight: 500;
    font-family: "Lexend", sans-serif;
    color: #000000;
}
.membership-introduction-img{
    width: 50%;
    height: 70vh;
    background-color: blueviolet;
    background-image: url("../images/rent-car-hd.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 33% 100%);
}
.membership-goods{
    padding-left: 8%;
    padding-right: 8%;
    width: 100%;
    height: 45vh;
    margin-bottom: 2%;
    margin-top: 5%;
}
.membership-goods-title{
    width: 9%;
    height: 2vh;
    margin: auto;
    color: #02529C;
    padding-top: 1%;
    margin-bottom: 4%;
}
.membership-goods span{
    color: #02529C;
}
.membership-goods-title h1{
    font-size: 1.35rem;
    width: 100%;
    height: 0.5vh;
    margin: auto;
    font-family: "Kanit", sans-serif;
}
.membership-goods-title hr{
    border: 0;
    border-top: 2px solid #ff0000;
}
.membership-goods-boxes{
    width: 100%;
    height: 35vh;
    display: flex;
    justify-content: space-between;
}
.membership-goods-box{
    font-family: "Kanit", sans-serif;
    font-weight: 350;
    margin: auto;
    height: 20vh;
    width: 30%;
}
.membership-goods-box img{
    display: block;
    margin: auto;
    margin-bottom: 3%;
    width: 45%;
    height:15vh;
}
.membership-goods-box h1{
    font-weight: 400;
    width: 100%;
    height: 3vh;
    padding-left: 33%;
    padding: auto;
    font-size: 1.6rem;
    color: #02529C;
}
.membership-goods-box p{
    margin-top: 1rem;
    width: 100%;
   text-align: center;
   margin-top: 1rem;
   color: #ff0000;
   font-weight: 400;
}

.membership-car{
    width: 100%;
    height: 70vh;
    margin-bottom: 10%;
}


.selection{
    clip-path: polygon(0 1%, 100% 5%, 100% 96%, 0 87%);
    margin-top: 5%;
    width: 100%;
    height: 70vh;
    background-color: #ff0000;
    padding-left: 8%;
    padding-right: 2%;
    background-image: url("../images/Retail-Quarterly-Recap-LP-Hero-Image.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
}
.selection-title{
    width: 6%;
    height: 1vh;
    margin: auto;
    color: #02529C;
    padding-top: 1%;
    margin-bottom: 2%;
    margin-top: 3%;
}
.selection-title h1{
    font-size: 1.35rem;
    width:90%;
    height: 0.5vh;
    margin: auto;
    font-family: "Kanit", sans-serif;
}
.selection-title hr{
    border: 0;
    border-top: 2px solid #ff0000;
}
.selection-select{
    width: 100%;
    height: 15vh;
    margin: auto;
}
.selection select{
    text-align: center;
    padding: auto;
    margin-top: 5%;
    margin-left: 35%;/* nece margin auto nzm sto */
    height: 5vh;
    width: 20%;
    font-family: "Kanit", sans-serif;
    background-color: #02529C;
    color: aliceblue;
    font-size: 1.5rem;
    border: none;
    border-radius: 0.5rem;
}
.selection-data{
    display: flex;
    width: 100%;
    height: 38vh;
    padding-right: 5%;
    /* background-color: yellow; */
}
.selection-data-box{
    margin: auto;
    padding: auto;
    width: 20%;
    height: 15vh;
    border-radius: 1rem;
    border: 4px #02529C solid;
}
.selection-data-box h3{
    text-align: center;
    color: aliceblue;
    font-family: "Lexend", sans-serif;
    font-size: 3rem;
    width: 50%;
    margin: auto;
    margin-top: 5%;
}
#dieselOld{
    font-size: 3rem;
    color: red;
    text-decoration: line-through white;
}
#bensinOld{
    font-size: 3rem;
    color: red;
    text-decoration: line-through white;
}
.selection-data-box p{
    color: aliceblue;
    font-size: 1.5rem;
    text-align: start;
    width: 100%;
    height: 5vh;
    margin: auto;
    padding-left: 5%;
    background-color:#02529C ;
    border-bottom-left-radius: 0.7rem;
    border-bottom-right-radius: 0.7rem;
    margin-top: 5%  ;
    font-family: "Kanit", sans-serif;
}

.truck{
    width: 100%;
    height: 50vh;
    margin-bottom: 15%;
}
.truck-title{
    width: 7%;
    height: 1vh;
    margin: auto;
    color: #02529C;
    padding-top: 1%;
    margin-bottom: 5%;
    margin-top: 10%;
}
.truck-title h1{
    font-size: 1.35rem;
    width: 100%;
    height: 1vh;
    margin: auto;
    font-family: "Kanit", sans-serif;
}
.truck-title hr{
    border: 0;
    border-top: 2px solid #ff0000;
}
.truck-prices{
    clip-path: polygon(0 11%, 100% 3%, 100% 91%, 0 97%);
    background-image: url("../images/939550238653272a7e7799694012658_1280x720x0027745.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 70vh;
    background-color: aqua;
}

.truck-prices select{
    text-align: center;
    margin-left: 40%;
    margin-top: 5%;
    height: 5vh;
    width: 18%;
    font-family: "Kanit", sans-serif;
    background-color: #02529C;
    color: aliceblue;
    font-size: 1.5rem;
    border: none;
    border-radius: 0.5rem;
}
.truck-prices-data{
    display: flex;
    width: 100%;
    height: 35vh;
    margin-top: 2%;
}
.truck-prices-data-box{
    margin: auto;
    padding: auto;
    width: 16%;
    height: 15vh;
    border-radius: 1rem;
    border: 4px #02529C solid;
}
.truck-prices-data-box h3{
    text-align: center;
    color: aliceblue;
    font-family: "Lexend", sans-serif;
    font-size: 3rem;
    width: 100%;
    margin: auto;
    margin-top: 1%;
}
.truck-prices-data-box  p{
    color: aliceblue;
    font-size: 1.5rem;
    text-align: start;
    width: 100%;
    height: 4.5vh;
    margin: auto;
    padding-left: 5%;
    background-color:#02529C ;
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    margin-top: 10%;
    font-family: "Kanit", sans-serif;
}
#truckDiesel{
    font-size: 3rem;
    color: red;
    text-decoration: line-through white;
}
.not-member{
    width: 100%;
    height: 70vh;
    background-color: yellow;
    margin-top: 2%;
    clip-path: polygon(0 4%, 100% 0%, 100% 87%, 0 96%);
    background-image: url("../images/downtown-reykjavik-hero-1920x890.avif");
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
}
.not-member-text{
    width: 50%;
    height: 70vh;
    background-color: white;
    margin: auto;
    text-align: center;
    padding-top: 1%;
}
.not-member span{
    color: red;
}
.not-member-text-title{
    width: 12%;
    height: 1vh;
    margin: auto;
    color: #02529C;
    padding-top: 1%;
    margin-bottom: 20%;
    margin-top: 3%;
}
.not-member-text-title h1{
    font-size: 1.35rem;
    width:100%;
    height: 1vh;
    margin: auto;
    font-family: "Kanit", sans-serif;
}
.not-member-text-title hr{
    border: 0;
    border-top: 2px solid #ff0000;
}
.not-member-text h2{
    font-family: "Kanit", sans-serif;
    color: #02529C;
    font-weight: 400;
    margin-top: 2%;
}
.not-member-text button{
    font-family: "Kanit", sans-serif;
    font-size: 1.3rem;
    width: 20%;
    height: 4vh;
    background-color: aliceblue;
    border: 2px solid #02529C;
    color: #02529C;
    border-radius: 0.5rem;
    cursor: pointer;
    margin-top: 10%;
    transition-duration: 0.3s;
    transition-delay: 0.3s;
}
.not-member-text button:hover{
    color: red;
}
@media (min-width:1024px)and (max-width:1600px){
    .membership-introduction-text h1{
        font-size: 1.6rem;
        width: 75%;
    }
    .membership-introduction-text h2{
        font-size: 1.2rem;
        width: 80%;
        margin: 5% 0 1% 0;
    }

    .membership-goods-title{
        width: 8.5%;
    }
    .membership-goods-title h1{
        font-size: 1rem;
    }
    .membership-goods-box img{
        margin-bottom: 5%;
    }
    .membership-goods-box h1{
        padding-left: 28%;
        font-size: 1.5rem;
    }
    
    
    .selection-title{
        width: 5%;
    }
    .selection-title h1{
        font-size: 1rem;
        width:100%;
    }
    #dieselOld{
        font-size: 2.5rem;
    }
    #bensinOld{
        font-size: 2.5rem;
    }
    .selection-data-box p{
        font-size: 1.2rem;
        margin-top: -2%;
    }
    
    .selection-data-box h3{
        text-align: center;
        color: aliceblue;
        font-family: "Lexend", sans-serif;
        font-size: 2.5rem;
        width: 50%;
        margin: auto;
        margin-bottom: 5%;
        margin-top: 5%;
    }

   
    .truck-title{
        width: 6.5%;
    }
    .truck-title h1{
        font-size: 1rem;
    }
    .truck-prices-data-box h3{
        text-align: center;
        color: aliceblue;
        font-family: "Lexend", sans-serif;
        font-size: 2.5rem;
        width: 100%;
        margin: auto;
        margin-top: 5%;
    }
    .truck-prices-data-box  p{
        color: aliceblue;
        font-size: 1.2rem;
        text-align: start;
        width: 100%;
        height: 4.5vh;
        margin: auto;
        padding-left: 5%;
        background-color:#02529C ;
        border-bottom-left-radius: 0.5rem;
        border-bottom-right-radius: 0.5rem;
        margin-top: 3%;
        font-family: "Kanit", sans-serif;
    }
    #truckDiesel{
        font-size: 2.5rem;
        color: red;
        text-decoration: line-through white;
    }
}
@media (max-width:768px){
    .membership-introduction-text{
        width: 100%;
        clip-path: polygon(0 0, 100% 0%, 100% 100%, 0% 100%);
    }
    .membership-introduction-text h1{
        font-size: 1.5rem;
        width: 75%;
        margin: 2% 0 2% 0;
        font-weight: 500;
        font-family: "Lexend", sans-serif;
        color:#02529C;  
    }
    .membership-introduction-text h2{
        font-size: 1.3rem;
        width: 80%;
        margin: 10% 0 1% 0;
        font-weight: 500;
        font-family: "Lexend", sans-serif;
        color: #000000;
    }
    .membership-introduction-img{
       display: none;
    }

    
    .membership-goods-title{
        width: 17%;
        height: 2vh;
        margin: auto;
        color: #02529C;
        padding-top: 1%;
        margin-bottom: 4%;
    }
    .membership-goods-title h1{
        font-size: 1rem;
    }
    .membership-goods-title hr{
        border-top: none;
    }
    .membership-goods-boxes{
        width: 100%;
        height: 35vh;
        display: flex;
        justify-content: space-between;
    }
    .membership-goods-box{
        font-family: "Kanit", sans-serif;
        font-weight: 350;
        margin: auto;
        height: 20vh;
        width: 40%;
    }
    .membership-goods-box img{
        display: block;
        margin: auto;
        margin-bottom: 3%;
        width: 50%;
        height:10vh;
    }
    .membership-goods-box h1{
        font-weight: 400;
        width: 110%;
        height: 3vh;
        padding-left: 25%;
        padding: auto;
        font-size: 1rem;
        color: #02529C;
    }
    .membership-goods-box p{
        margin-top: 1rem;
        font-size: 0.8rem;
        width: 100%;
       text-align: center;
       margin-top: 1rem;
       color: #ff0000;
       font-weight: 400;
    }


    .membership-car{
        width: 100%;
        height: 70vh;
        margin-bottom: 10%;
    }
    
    
    .selection{
        clip-path: polygon(0 1%, 100% 5%, 100% 96%, 0 87%);
        margin-top: 5%;
        width: 100%;
        height: 70vh;
        background-color: #ff0000;
        padding-left: 8%;
        padding-right: 2%;
        background-image: url("../images/Retail-Quarterly-Recap-LP-Hero-Image.jpg");
        background-attachment: fixed;
        background-size: cover;
        background-repeat: no-repeat;
    }
    .selection-title{
        width: 12%;
        height: 1vh;
        margin: auto;
        color: #02529C;
        padding-top: 1%;
        margin-bottom: 2%;
        margin-top: 3%;
    }
    .selection-title h1{
        font-size: 1rem;
        width:90%;
        height: 0.5vh;
        margin: auto;
        font-family: "Kanit", sans-serif;
    }
    .selection-title hr{
        border: 0;
        border-top: none;
    }
    .selection-select{
        width: 100%;
        height: 15vh;
        margin: auto;
    }
    .selection select{
        text-align: center;
        padding: auto;
        margin-top: 8%;
        margin-left: 25%;
        height: 5vh;
        width: 40%;
        font-family: "Kanit", sans-serif;
        background-color: #02529C;
        color: aliceblue;
        font-size: 1.5rem;
        border: none;
        border-radius: 0.5rem;
    }
    .selection-data{
        display: flex;
        width: 100%;
        height: 38vh;
        padding-right: 5%;
        gap: 0.5rem;
        /* background-color: yellow; */
    }
    .selection-data-box{
        margin: auto;
        padding: auto;
        width: 40%;
        height: 10vh;
        border-radius: 1rem;
        border: 4px #02529C solid;
    }
    .selection-data-box h3{
        text-align: center;
        color: aliceblue;
        font-family: "Lexend", sans-serif;
        font-size: 2rem;
        width: 50%;
        margin: auto;
        margin-top: 5%;
    }
    #dieselOld{
        font-size: 2rem;
    }
    #bensinOld{
        font-size: 2rem;
    }
    .selection-data-box p{
        color: aliceblue;
        font-size: 0.7rem;
        text-align: start;
        width: 100%;
        height: 2.5vh;
        margin: auto;
        padding-left: 5%;
        background-color:#02529C ;
        border-bottom-left-radius: 0.7rem;
        border-bottom-right-radius: 0.7rem;
        margin-top: 10%  ;
        font-family: "Kanit", sans-serif;
    }



.truck-title{
    width: 13%;
}
.truck-title h1{
    font-size: 1rem;
}
.truck-title hr{
    border-top: none;
}


.truck-prices select{
    text-align: center;
    margin-left: 30%;
    margin-top: 10%;
    height: 5vh;
    width: 35%;
    font-family: "Kanit", sans-serif;
    background-color: #02529C;
    color: aliceblue;
    font-size: 1.5rem;
    border: none;
    border-radius: 0.5rem;
}
.truck-prices-data{
    display: flex;
    width: 100%;
    height: 35vh;
    margin-top: 2%;
}
.truck-prices-data-box{
    margin: auto;
    padding: auto;
    width: 30%;
    height: 12vh;
    border-radius: 1rem;
    border: 4px #02529C solid;
}
.truck-prices-data-box h3{
    text-align: center;
    color: aliceblue;
    font-family: "Lexend", sans-serif;
    font-size: 2rem;
    width: 100%;
    margin: auto;
    margin-top: 1%;
}
.truck-prices-data-box  p{
    color: aliceblue;
    font-size: 1rem;
    text-align: start;
    width: 100%;
    height: 3vh;
    margin: auto;
    padding-left: 5%;
    background-color:#02529C ;
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    margin-top: 13%;
    font-family: "Kanit", sans-serif;
}
#truckDiesel{
    font-size: 2rem;
}

.not-member-text{
    width: 50%;
    height: 70vh;
    background-color: white;
    margin: auto;
    text-align: center;
    padding-top: 1%;
}
.not-member span{
    color: red;
}
.not-member-text-title{
    width: 12%;
    height: 1vh;
    margin: auto;
    color: #02529C;
    padding-top: 1%;
    margin-bottom: 20%;
    margin-top: 3%;
}
.not-member-text-title h1{
    font-size: 1rem;
    width:100%;
    height: 1vh;
    margin: auto;
    font-family: "Kanit", sans-serif;
}
.not-member-text-title hr{
    border-top: none;
}
.not-member-text{
    padding-top: 10%;
}
.not-member-text h2{
    font-family: "Kanit", sans-serif;
    font-size: 1.3rem;
    color: #02529C;
    font-weight: 400;
    margin-top: 2%;
}
.not-member-text button{
    font-family: "Kanit", sans-serif;
    font-size: 1.3rem;
    width: 20%;
    height: 4vh;
    background-color: aliceblue;
    border: 2px solid #02529C;
    color: #02529C;
    border-radius: 0.5rem;
    cursor: pointer;
    margin-top: 30%;
    transition-duration: 0.3s;
    transition-delay: 0.3s;
}
}


@media (max-width:430px){
    .membership-introduction-text{
        width: 100%;
        clip-path: polygon(0 0, 100% 0%, 100% 100%, 0% 100%);
    }
    .membership-introduction-text h1{
        font-size: 1.2rem;
        width: 75%;
        margin: 2% 0 2% 0;
        font-weight: 500;
        font-family: "Lexend", sans-serif;
        color:#02529C;  
    }
    .membership-introduction-text h2{
        font-size: 1rem;
        width: 80%;
        margin: 10% 0 1% 0;
        font-weight: 500;
        font-family: "Lexend", sans-serif;
        color: #000000;
    }
    .membership-introduction-img{
       display: none;
    }

    
    .membership-goods-title{
        width: 35%;
        height: 2vh;
        margin: auto;
        color: #02529C;
        padding-top: 1%;
        margin-bottom: 4%;
    }
    .membership-goods-title h1{
        font-size: 1rem;
    }
    .membership-goods-title hr{
        border-top: none;
    }
    .membership-goods-boxes{
        width: 100%;
        height: 35vh;
        display: flex;
        justify-content: space-between;
    }
    .membership-goods-box{
        font-family: "Kanit", sans-serif;
        font-weight: 350;
        margin: auto;
        height: 20vh;
        width: 45%;
    }
    .membership-goods-box img{
        display: block;
        margin: auto;
        margin-bottom: 3%;
        width: 50%;
        height:10vh;
    }
    .membership-goods-box h1{
        font-weight: 400;
        width: 110%;
        height: 3vh;
        padding-left: 25%;
        padding: auto;
        font-size: 1rem;
        color: #02529C;
    }
    .membership-goods-box p{
        padding-top:1rem;
        font-size: 0.8rem;
        width: 100%;
       text-align: center;
       margin-top: 1rem;
       color: #ff0000;
       font-weight: 400;
    }


    .membership-car{
        width: 100%;
        height: 70vh;
        margin-bottom: 10%;
    }
    
    
    .selection{
        clip-path: polygon(0 1%, 100% 5%, 100% 96%, 0 87%);
        margin-top: 5%;
        width: 100%;
        height: 70vh;
        background-color: #ff0000;
        padding-left: 8%;
        padding-right: 2%;
        background-image: url("../images/Retail-Quarterly-Recap-LP-Hero-Image.jpg");
        background-attachment: fixed;
        background-size: cover;
        background-repeat: no-repeat;
    }
    .selection-title{
        width: 25%;
        height: 1vh;
        margin: auto;
        color: #02529C;
        padding-top: 1%;
        margin-bottom: 20%;
        margin-top: 20%;
    }
    .selection-title h1{
        font-size: 1rem;
        width:90%;
        height: 0.5vh;
        margin: auto;
        font-family: "Kanit", sans-serif;
    }
    .selection-title hr{
        border: 0;
        border-top: none;
    }
    .selection-select{
        width: 100%;
        height: 15vh;
        margin: auto;
    }
    .selection select{
        text-align: center;
        padding: auto;
        margin-top: 15%;
        margin-left: 15%;
        height: 5vh;
        width: 60%;
        font-family: "Kanit", sans-serif;
        background-color: #02529C;
        color: aliceblue;
        font-size: 1.5rem;
        border: none;
        border-radius: 0.5rem;
    }
    .selection-data{
        display: flex;
        width: 100%;
        height: 38vh;
        padding-right: 5%;
        gap: 0.5rem;
        /* background-color: yellow; */
    }
    .selection-data-box{
        margin: auto;
        padding: auto;
        width: 50%;
        height: 5vh;
        border-radius: 1rem;
        border: 4px #02529C solid;
    }
    .selection-data-box h3{
        text-align: center;
        color: aliceblue;
        font-family: "Lexend", sans-serif;
        font-size: 1rem;
        width: 50%;
        margin: auto;
        margin-top: 5%;
    }
    #dieselOld{
        font-size: 1rem;
    }
    #bensinOld{
        font-size: 1rem;
    }
    .selection-data-box p{
        color: aliceblue;
        font-size: 0.5rem;
        text-align: start;
        width: 100%;
        height: 2.5vh;
        margin: auto;
        padding-left: 5%;
        background-color:#02529C ;
        border-bottom-left-radius: 0.7rem;
        border-bottom-right-radius: 0.7rem;
        margin-top: 10%  ;
        font-family: "Kanit", sans-serif;
    }



.truck-title{
    width: 25%;
    margin-bottom: 20%;
    margin-top: 20%;
}
.truck-title h1{
    font-size: 1rem;
}
.truck-title hr{
    border-top: none;
}

.truck{
    margin-bottom: 40%;
}
.truck-prices select{
    text-align: center;
    margin-left: 20%;
    margin-top: 25%;
    height: 5vh;
    width: 60%;
    font-family: "Kanit", sans-serif;
    background-color: #02529C;
    color: aliceblue;
    font-size: 1.5rem;
    border: none;
    border-radius: 0.5rem;
}
.truck-prices-data{
    display: flex;
    width: 100%;
    height: 35vh;
    margin-top: 2%;
    gap: 0.5rem;
}
.truck-prices-data-box{
    margin: auto;
    padding: auto;
    width: 40%;
    height: 10vh;
    border-radius: 1rem;
    border: 4px #02529C solid;
}
.truck-prices-data-box h3{
    text-align: center;
    color: aliceblue;
    font-family: "Lexend", sans-serif;
    font-size: 1.5rem;
    width: 100%;
    margin: auto;
    margin-top: 1%;
}
.truck-prices-data-box  p{
    color: aliceblue;
    font-size: 0.7rem;
    text-align: start;
    width: 100%;
    height: 3vh;
    margin: auto;
    padding-left: 5%;
    background-color:#02529C ;
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    margin-top: 18%;
    font-family: "Kanit", sans-serif;
}
#truckDiesel{
    font-size: 1.5rem;
}

.not-member-text{
    width: 70%;
    height: 70vh;
    background-color: white;
    margin: auto;
    text-align: center;
    padding-top: 1%;
}
.not-member span{
    color: red;
}
.not-member-text-title{
    width: 12%;
    height: 1vh;
    margin: auto;
    color: #02529C;
    padding-top: 1%;
    margin-bottom: 20%;
    margin-top: 3%;
}
.not-member-text-title h1{
    font-size: 1rem;
    width:100%;
    height: 1vh;
    margin: auto;
    font-family: "Kanit", sans-serif;
}
.not-member-text-title hr{
    border-top: none;
}
.not-member-text{
    padding-top: 10%;
}
.not-member-text h2{
    font-family: "Kanit", sans-serif;
    font-size: 1.2rem;
    color: #02529C;
    font-weight: 400;
    margin-top: 10%;
}
.not-member-text button{
    font-family: "Kanit", sans-serif;
    font-size: 1rem;
    width: 35%;
    height: 4vh;
    background-color: aliceblue;
    border: 2px solid #02529C;
    color: #02529C;
    border-radius: 0.5rem;
    cursor: pointer;
    margin-top: 30%;
    transition-duration: 0.3s;
    transition-delay: 0.3s;
}
}